body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #152ea9;
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    color: #6c757d;
}
